.headline {
    color: rgb(255, 208, 0);
    font-size: 70px;
    padding-left: 5%;
}
body{
   background-color: black;
}
.head{
    height: 200px;
    width:100%;
    background-color: black;
    margin:0;
    border:solid;
    border-width: 5px;
    border-color:black;
    border-bottom-color:white;
    
}


.masterclientbutton{
    color:white;
    background-color: goldenrod;
    border:none;
    padding:15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size:16px;
    border-radius: 5%;
}


.buttonclass{
    padding-top: 0px;
}

.classfield{
    padding-top:3%;
}

.textfield1{
    float:left;
    width:47%;
    height:410px;
    padding-bottom: 5%;
}

.textfield11{
    border:groove;
    width:98%;
    height:auto;
    border-width:1px;
}
.sentfield{
    color:white;
    background-color: goldenrod;
    border:none;
    padding:15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size:16px;
    border-radius: 5%;
}

.text{
    width:82%;
    height:8%;
    background-color: black;
    color: goldenrod;
    font-size: x-large;
    border:none;
    border-bottom: solid;
}

.button{
    color:white;
    background-color: goldenrod;
    border:none;
    padding:12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size:16px;
    border-radius: 5%;
}

.textfield2{
    float:right;
    width:47%;
    height:410px;
    padding-bottom: 5%;
    /* border:groove; */
}

.textarea{
    color: goldenrod;
    font-size: x-large;
    text-align: left;
}

.title{
    color:goldenrod;
    text-align: center;
    font-size: 100%;
}

.by{
    color:white;
    font-size:100%;
    text-align: center;
}

.userpassword{
    width:82%;
    height:100%;
    background-color: black;
    color: goldenrod;
    font-size: x-large;
    border:none;
    border-bottom: solid;
}

h3{
   color:white;
   text-align: center;
}

.image{
    width:10%;
    height:70%;
    float: right;
    padding-right: 10%;
    padding-top: 3%;
}